api_platform:
    title: Payment Platform
    version: 1.0.0
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
        
    swagger:
       api_keys:
           JWT:
              name: Authorization
              type: header

       swagger_ui_extra_configuration:
          tagsSorter: "alpha"
          operationsSorter: "alpha"


